venv/
.venv/
env/
ENV/
*.env
!.env.example

.env
.env.*

__pycache__/
*.py[cod]
*$py.class

*.db
*.db-journal
*.sqlite
*.sqlite3

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
